/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --ff-body: "Inter", sans-serif;
  --fz-1: rem(24px);
  --fz-2: rem(14px);
  --lh: 1.5em;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;
  --space-500: rem(40px);
  --space-300: rem(24px);
  --space-200: rem(16px);
  --space-150: rem(12px);
  --space-100: rem(8px);
  --space-50: rem(4px);
}

*, *::before, *::after {
  box-sizing: inherit;
}

:not(ul, ol, li) {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-body);
}

body {
  width: inherit;
  height: inherit;
  font-family: var(--ff-body);
  font-optical-sizing: auto;
}

.attribution {
  position: fixed;
  bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: var(--grey-900);
  text-decoration: none;
}

.attribution a:visited,
.attribution a:hover {
  color: var(--green);
  transition: 0.4s;
}

/* #endregion Defaults */
/* #region Reusable CSS */
.text-preset-1 {
  font-size: var(--fz-1);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh);
}

.text-preset-2 {
  font-size: var(--fz-2);
  font-weight: var(--fw-regular);
  line-height: var(--lh);
}

.text-preset-2-bold {
  font-size: var(--fz-2);
  font-weight: var(--fw-bold);
  line-height: var(--lh);
}

.button {
  background-color: var(--grey-700);
  color: white;
  width: 19rem;
  padding: 0.75rem;
}

.button:hover {
  background-color: var(--green);
  transition: 0.4s;
}

/* #endregion Reusable CSS */
/* #region Mobile Styling */
/* #endregion Mobile Styling */
/* #region Desktop Styling */
/* #endregion Desktop Styling */
