/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  --green: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --ff-body: "Inter", sans-serif;
  --fz-body: 14px;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

*, *::before, *::after {
  box-sizing: inherit;
}

:not(ul, ol, li) {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-body);
  font-weight: 400;
}

body {
  width: inherit;
  height: inherit;
  font-family: var(--ff-body);
  font-optical-sizing: auto;
  background-color: white;
  display: grid;
  place-items: center;
}

article {
  background-color: white;
  max-width: 736px;
}

h1 {
  font-size: 2.25rem;
  color: var(--dark-charcoal);
}

h2 {
  font-size: 1.75rem;
  color: var(--nutmeg);
}

p, ul, ol, strong, b, a, td {
  font-family: var(--ff-body);
  font-size: 1rem;
  color: var(--wenge-brown);
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-position: outside;
}

footer {
  text-align: center;
  font-family: var(--ff-body);
  font-size: 0.6875rem;
}
footer > a {
  font-size: 0.6875rem;
  color: var(--dark-raspberry);
}
footer > a:visited {
  font-size: 0.6875rem;
  color: var(--nutmeg);
}

/* #endregion Defaults */
/* #region Mobile Styling */
/* #region Hero */
#hero {
  display: grid;
  place-items: center;
  row-gap: 1.75rem;
  grid: "   img  img  img   " "    .    h1   .    " "    .    p    .    " "    .   div   .    " "    .    .    .    "/1.5rem auto 1.5rem;
}
#hero img {
  grid-area: img;
  width: min(41rem, 100%);
}
#hero h1 {
  grid-area: h1;
  line-height: 1em;
}
#hero p {
  grid-area: p;
  line-height: 1.5em;
}
#hero div {
  grid-area: div;
  background-color: var(--rose-white);
  width: 19.375rem;
  height: 11.875rem;
  border-radius: 0.625rem;
  padding-inline: 1.5rem;
  padding-block-start: 1.25rem;
  display: grid;
  place-content: center;
}
#hero div strong {
  font-size: 1.25rem;
  color: var(--dark-raspberry);
}
#hero div ul {
  padding-inline-start: 1.5rem;
}
#hero div li {
  line-height: 1.75em;
  padding-inline-start: 1.75rem;
}
#hero div li::marker {
  color: var(--dark-raspberry);
  font-size: 0.75rem;
  margin-block: auto;
}
#hero div b {
  font-weight: var(--fw-bold);
}

/* #endregion Hero */
/* #region Ingredients */
#ingredients {
  padding-inline: 1.5rem;
}
#ingredients ul {
  padding-inline-start: 1.5rem;
}
#ingredients ul li {
  padding-inline-start: 1rem;
  line-height: 1.4em;
}
#ingredients ul :not(:last-child) {
  margin-block-end: 0.75rem;
}
#ingredients ul ::marker {
  font-size: 0.75rem;
  color: var(--nutmeg);
}

hr {
  border-top-color: var(--light-grey);
  border-style: solid;
  border-width: 0.0625rem 0 0;
  margin: 2rem 1.5rem;
}

/* #endregion Ingredients */
/* #region Instructions */
#instructions {
  padding-inline: 1.5rem;
}
#instructions ol {
  padding-inline-start: 1.5rem;
}
#instructions ol li {
  padding-inline-start: 1rem;
  line-height: 1.4em;
}
#instructions ol :not(:last-child) {
  margin-block-end: 0.75rem;
}
#instructions ol ::marker {
  color: var(--nutmeg);
  font-weight: var(--fw-bold);
}

/* #endregion Instructions */
/* #region Nutrition */
#nutrition {
  padding-inline: 1.5rem;
}
#nutrition h2 {
  line-height: 1em;
  margin-block-end: 1.75rem;
}
#nutrition ul {
  padding-inline-start: 0;
}
#nutrition ul li {
  padding-inline-start: 2rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: 2fr 2.25fr;
  line-height: 1em;
}
#nutrition ul :not(:last-of-type) {
  border-bottom: 0.0625rem solid var(--light-grey);
}
#nutrition b {
  color: var(--nutmeg);
}
#nutrition span, #nutrition b {
  display: inline-block;
  padding-block: 1rem;
}

/* #endregion Nutrition */
@media only screen and (max-width: 23.4375em) {
  #hero h1 {
    font-size: 1.875rem;
  }
  #hero div {
    width: 100%;
  }
  #hero div ul {
    padding-inline-start: 1.25rem;
  }
  #hero div li {
    line-height: 1.4em;
    padding-inline-start: 0;
  }
}
/* #endregion Mobile Styling */
/* #region Desktop Styling */
@media only screen and (min-width: 46.875em) {
  body {
    background-color: var(--eggshell);
  }
  main {
    margin-block: 7.625rem;
  }
  article {
    padding-block-start: 2.5rem;
    padding-block-end: 0.625rem;
    border-radius: 1.5rem;
  }
  hr {
    margin-inline: 2.5rem;
  }
  #hero {
    place-items: stretch;
    row-gap: 1.5rem;
    grid: "   img  img  img   " "    .    h1   .    " "    .    p    .    " "    .   div   .    " "    .    .    .    "/2.5rem auto 2.5rem;
  }
  #hero img {
    place-self: center;
    border-radius: 0.625rem;
    margin-block-end: 0.625rem;
  }
  #hero h1 {
    font-size: 40px;
  }
  #hero p {
    margin-block-end: 0.625rem;
  }
  #hero div {
    width: max(19.375rem, 100%);
    height: 11.25rem;
    padding-inline: 1.875rem;
    padding-block-start: 1.25rem;
    justify-content: start;
  }
  #hero div li {
    line-height: 2em;
    padding-inline-start: 1rem;
  }
  #ingredients,
  #instructions,
  #nutrition {
    padding-inline: 2.5rem;
  }
  #nutrition ul li {
    grid-template-columns: 2fr 2.15fr;
  }
}
/* #endregion Desktop Styling */
