/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --ff-body: "Inter", sans-serif;
  --fz-1: calc(24 / 16 * 1rem);
  --fz-2: calc(14 / 16 * 1rem);
  --s-500: calc(40 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*, *::before, *::after {
  box-sizing: inherit;
}

:not(ul, ol, li) {
  margin: 0;
}

body {
  width: inherit;
  height: inherit;
  font-family: var(--ff-body);
  font-optical-sizing: auto;
}

.attribution {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--white);
}

.attribution a {
  transition: 0.4s;
}

.attribution a:hover,
.attribution a:visited {
  color: var(--green);
  text-decoration: none;
}

/* #endregion Defaults */
/* #region Reusable CSS */
.grid {
  display: grid;
}

.text-preset-1 {
  font-size: var(--fz-1);
  font-weight: 600;
  line-height: 1.5em;
}

.text-preset-2 {
  font-size: var(--fz-2);
  font-weight: 400;
  line-height: 1.5em;
}

.text-preset-2-bold {
  font-size: var(--fz-2);
  font-weight: 700;
  line-height: 1.5em;
}

.button {
  text-decoration: none;
  text-align: center;
  background-color: var(--grey-700);
  border-radius: 0.5rem;
  color: white;
  width: 17.4375rem;
  height: 2.8125rem;
  padding: var(--s-150);
}

.button:hover {
  background-color: var(--green);
  color: var(--grey-700);
  transition: 0.4s;
}

/* #endregion Reusable CSS */
/* #region Mobile Styling */
main {
  width: inherit;
  height: inherit;
  display: grid;
  place-content: center;
  padding-inline: var(--s-300);
  background-color: var(--grey-900);
}

.card {
  width: 20.4375rem;
  height: 36.1875rem;
  border-radius: 0.75rem;
  padding: var(--s-300);
  gap: var(--s-300);
  background-color: var(--grey-800);
  color: var(--white);
  place-items: center;
}

.profile-pic {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 100vmax;
  align-self: center;
}

.name-location {
  width: 17.4375rem;
  height: 3.8125rem;
  gap: var(--s-50);
  text-align: center;
}

.description {
  color: var(--green);
}

.links {
  gap: var(--s-200);
}

/* #endregion Mobile Styling */
/* #region Desktop Styling */
/* #endregion Desktop Styling */
